/*  Main: TBD HEADER */

code {
  /*  Slightly change the bootstrap appearance of code: */
  color: black;
  background-color: transparent;
  font-size: 100%;
}

div.sidebar, div.warning, div.note {
  border: thin black solid;
  padding: 10px;
}