/*  Main: TBD HEADER */

body {
  font-family: Verdana, sans-serif;
  font-size: 80%;
  padding: 0.5em;
  /* Make room for the menu: */
  padding-top: 5em;
  overflow: auto;
}

/* TOC and header */
/* Menu from: https://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/*/


h1.toc-header {
  padding: 0.1em;
  padding-left: 0.5em;
  margin: 0;
  color: grey;
  font-size: 150%;
  background: white;
}

div.toc {
  display: block;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1.5em solid white;
}

div.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
}

div.toc > ul > li {
  border-left: 1px solid white;
}

div.toc ul li {
  display: block;
  position: relative;
  float: left;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  background: black;
}

/*Turn off submenus:*/
div.toc li ul {
  display: none;
}

div.toc ul li a {
  display: block;
  padding: 0.2em;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

div.toc ul li a:hover {
  background: grey;
}

/* Display the dropdown menu on hover*/

div.toc ul li:hover > ul {
  display: block;
  position: absolute;
}

div.toc ul li:hover li {
  float: none;
}

div.toc ul li:hover a {
  background: black;
}

div.toc ul li:hover li a:hover {
  background: grey;
}

/* Displays second level dropdown menus to the right of the first level dropdown menu */

div.toc ul ul ul {
  left: 100%;
  top: 0;
}

/* Clearfix */

div.toc ul:before,
div.toc ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

div.toc ul:after {
  clear: both;
}

/* Various */

p {
  padding: 0.3em;;
  margin:0;
}

pre {
  background: lightgrey;
  font-size: 110%;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

code {
  font-size: 125%;
}

p[class$="-title"] {
  font-size: 80%;
  color: grey;
  padding: 0.1em;
  padding-bottom: 1em;
}

p.bridgehead {
  font-weight: bold;
  font-size: 120%;
  padding-top: 1em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;  
}

.underline {
  text-decoration: underline;
}

/* Tables: */

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  vertical-align:top;
  font-size: 100%
}

th {
  text-align: left;
  background-color: black;
  color: white;
  font-weight: normal;
}