/*  
 * CSS with overrides for the bootstrap settings for the xtpxlib component documentation websites
 */

code {
  /*  Slightly change the bootstrap appearance of code: */
  color: black;
  background-color: transparent;
  font-size: 100%;
}

div.sidebar,
div.warning,
div.note {
  border: thin black solid;
  padding: 10px;
}

p.bridgehead {
  font-weight: bold;
  font-size: 120%;
  border-top: thin solid grey;
  background-color: lightgrey;
}

span.italic {
  font-style: italic;
}